* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__headerImage {
  background-color: #fafafa;
  object-fit: contain;
}
.post_image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
